@import "tailwindcss";

@theme {
  /* Palet Warna Premium HiYu */
  --color-hiyu-cream: #FFF9F5;
  --color-hiyu-blush: #FADADD;
  --color-hiyu-rose: #D49A89;
  --color-hiyu-dark: #2D2D2D;

  /* Font Premium */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

/* Biar efek scroll ke bawahnya mulus */
html {
  scroll-behavior: smooth;
}